@charset "UTF-8";


:root{
    --cor0: white;
    --cor1: black;
    --cor2: #94CFCD;
    --cor3: #5f2c82;
    --cor4: #2D6462;
}

@media screen and (min-width: 769px) and (max-width: 1024px){ /** imagem na ESQUERDA **/
    body{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
        
    }

    section#login{
        width: 80vw;
        height: 290px;
    }

    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    div#form{
        float: right;
        width: 70%;
    }


    input.emailsenha{
        width: 90%;
    }

    input#entrar, a#esqueci{
        width: 100%;
    }
}

@media screen and (min-width: 1025px) { /** imagem na DIREITA **/
    body{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    }

    section#login{
        width: 950px;
        height: 300px;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#form{
        float: left;
        width: 50%;
        height: 100%;
    }

    div#form h1{
        font-size: 2em;
    }

    div#form p {
        font-size: 1em;
    }

    input.emailsenha{
        width: 90%;
    }

    input#entrar, a#esqueci{
        width: 100%;
    }
}