@charset "UTF-8";


:root{
    --cor0: white;
    --cor1: black;
    --cor2: #94CFCD;
    --cor3: #5f2c82;
    --cor4: #2D6462;
}

@media screen and (min-width: 769px) and (max-width: 1024px){ /** imagem na ESQUERDA **/
    body{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    }

    section#login{
        width: 500px;
    }

    div.emailsenha{
        width: 450px;
    }

    input.emailsenha{
        width: 400px;
    }

    input#entrar, input#esqueci{
        width: 450px;
    }

}

@media screen and (min-width: 1025px) { /** imagem na DIREITA **/
    body{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    }

    section#login{
        width: 550px;
    }

    div#form p {
        font-size: 1em;
    }

    div.emailsenha{
        width: 500px;
    }

    input.emailsenha{
        width: 450px;
    }

    input#entrar, input#esqueci{
        width: 500px;
    }
}