@charset "UTF-8";

/** 
Paleta de cores:
    Verde: #94CFCD
    Lilás: #5f2c82
**/


:root{
    --cor0: white;
    --cor1: black;
    --cor2: #94CFCD;
    --cor3: #5f2c82;
    --cor4: #2D6462;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor3);
}

main{
    margin: auto;
    text-align: center;
    height: 100vh;
    position: relative;
}

section#login{
    width: 250px;
    border-radius: 10px;
    background-color: var(--cor0);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#imagem{
    height: 200px;
    background: black url(../imagens/pexels-fotometrozero-31012596.jpg) center center/cover no-repeat fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div#form{
    padding: 8px;
}

div#form h1{
    padding: 10px 0px;
}

div#form p{
    font-size: 0.8em;
    text-align: left;
    padding-left: 17px;
}

div#form input{
    padding: 5px;
    border-radius: 5px;
}

div.emailsenha{
    width: 200px;
    background-color: var(--cor3);
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    
}

span.material-symbols-outlined{
    color: var(--cor0);
}

input.emailsenha{
    background-color: var(--cor2);
    height: 35px;
    width: 150px;
    box-sizing: border-box;
    margin-right: -20px;
    border: 3px solid var(--cor3);
}

input#entrar{
    background-color: var(--cor2);
    border: none;
    color: var(--cor0);
    height: 40px;
    width: 200px;
    margin: 5px;
}

input#esqueci{
    border: 2px solid var(--cor2);
    background-color: var(--cor0);
    color: var(--cor2);
    height: 40px;
    width: 200px;
}

input#entrar:hover{
    background-color: var(--cor4);
    cursor: pointer;
}


input#esqueci:hover{
    background-color: var(--cor4);
    cursor: pointer;
}