@charset "UTF-8";

/** 
Paleta de cores:
    Verde: #94CFCD
    Lilás: #5f2c82
**/


:root{
    --cor0: white;
    --cor1: black;
    --cor2: #94CFCD;
    --cor3: #5f2c82;
    --cor4: #2D6462;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor3);
    height: 100vh;
}

main{
    margin: auto;
    text-align: center;
    height: 100vh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section#login{
    width: 300px;
    border-radius: 10px;
    background-color: var(--cor0);

    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    
}

div#imagem{
    height: 200px;
    background: black url(../imagens/pexels-fotometrozero-31012596.jpg) center center/cover no-repeat fixed;
}

div#form{
    padding: 8px;
    display: block;
}

div#form h1{
    padding: 10px 0px;
}

div#form p{
    font-size: 0.8em;
    text-align: left;
    width: 100%;
    padding: 0px 0px 10px 0px;
}

div#form input{
    padding: 5px;
    border-radius: 5px;
}

div#form label{
    display: none;
}

div.emailsenha span{
    color: var(--cor0);
    font-size: 1em;
    width: 30px;
    font-size: 1.5em;
    transform: translate(3px, 5px);
}

div.emailsenha{
    width: 100%;
    background-color: var(--cor3);
    border-radius: 5px;
    margin: 2.5px 0px;
    display: inline-block;
    height: 40px;
}

input.emailsenha{
    background-color: var(--cor2);
    height: 100%;
    width: calc(100% - 50px);
    border: 3px solid var(--cor3);
}

input.emailsenha:focus-within{
    background-color: white;
}

input#entrar{
    background-color: var(--cor2);
    border: none;
    color: var(--cor0);
    height: 40px;
    width: 100%;
    margin: 5px 0px;
}

a#esqueci{
    display: inline-block;
    border: 2px solid var(--cor2);
    background-color: var(--cor0);
    color: var(--cor2);
    height: 40px;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

input#entrar:hover{
    background-color: var(--cor4);
    cursor: pointer;
}

a#esqueci:hover{
    background-color: var(--cor4);
    cursor: pointer;
}

a#esqueci > span{
    font-size: 0.8em;
}